body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  background-color: $base-background;
  min-height: 100vh;
  color: $base-text;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,a,p,span {
  margin: 0;
  padding: 0;
  word-break: break-all;
}
button {
  appearance: button;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
iframe {
  border: 0;
}
.desc {
  a {
    display: inline-block;
    vertical-align: middle;
  }
}