body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  background-color: $base-background;
  min-height: 100vh;
  color: $base-text;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,a,p,span {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
.desc {
  a {
    margin: 1rem 0;
    display: inline-block;
    vertical-align: middle;
  }
}